[submodule "Lane2Laser_Capstone"]
	path = Lane2Laser_Capstone
	url = https://github.com/waynerobotics/Lane2Laser_Capstone.git
[submodule "LaneFollow_Capstone"]
	path = LaneFollow_Capstone
	url = https://github.com/waynerobotics/LaneFollow_Capstone.git
[submodule "vector_field_histogram"]
	path = vector_field_histogram
	url = https://github.com/waynerobotics/vector_field_histogram.git
[submodule "hsv_thresh"]
	path = hsv_thresh
	url = https://github.com/waynerobotics/hsv_thresh.git
[submodule "Karina-Navigation"]
	path = Karina-Navigation
	url = https://github.com/BlaineKTMO/Karina-Navigation
[submodule "modified-dwa"]
	path = modified-dwa
	url = https://github.com/BlaineKTMO/modified-dwa
[submodule "ros-pid-controller"]
	path = ros-pid-controller
	url = https://github.com/BlaineKTMO/ros-pid-controller
[submodule "Costmap_Capstone"]
	path = Costmap_Capstone
	url = https://github.com/waynerobotics/Costmap_Capstone.git
