name: CI

on:
  push:
    branches:
      - main

jobs:
  build-and-launch:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      
      - name: Install ROS
        uses: ros-tooling/setup-ros@v0.6
        
      - name: Update ROS Package List
        run: sudo apt-get update
        
      - name: Clone ROS Package
        run: git clone https://github.com/BlaineKTMO/Karina_sim.git
      
      - name: Build ROS Package
        run: |
          source /opt/ros/noetic/setup.bash
          mkdir ~/catkin_ws
          mv Karina_sim ~/catkin_ws/src
          cd ~/catkin_ws
          catkin_make
      
      - name: Launch ROS Package
        run: |
          source ~/catkin_ws/devel/setup.bash
          roslaunch karina_sim karina_sim_bringup.launch
